* {
  box-sizing: border-box;
  margin: 0;
}

.logoTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  margin: 10px 20px;
  font-size: 1em;
  background-image: none;
}

.logo {
  display: block;
  position: absolute;
  height: 80px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  position: relative;
}

.input {
  font-size: 0.9em;
  padding: 5px;
}

.routeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  height: 120px;
  overflow-y: scroll;
}

.routes {
  font-size: 0.9em;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(230, 0, 18, 0.8);
  margin: 5px 10px;
  padding: 5px;
  cursor: pointer;
}

.selected {
  background-color: gainsboro;
}

.busDataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 20px;
  margin: 20px 30px;
  padding: 20px;
}

.buses {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(230, 0, 18, 0.8);
  background-color: white;
  margin: 5px;
  padding: 10px;
  width: 19%;
  font-size: 0.9em;
}

.firstBus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.secondBus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.busTime {
  padding-top: 2px;
}

.busTrips {
  padding-left: 10px;
}

@media (width < 960px) {
  .logoTimeContainer {
    flex-direction: column;
  }
  .logo {
    position: initial;
  }
  .lastUpdateTime {
    order: 1;
  }
  .buses {
    width: 30%;
  }
}

@media (width < 720px) {
  .buses {
    width: 45%;
  }
}
